* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grilla {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(66, 66, 66, 0.5) 100%);
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    overflow-y: hidden;
}

header {
    grid-area: header;
    background-color: #000000;
    background-image: url("../assets/img/header.jpg");
    background-size: cover;
}

.logo {
    display: flex;
    align-self: auto;
}


a {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    grid-area: nav;
    background-color: rgb(68, 68, 68);
}


ul li a {
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navFlex {
    display: flex;
    flex-direction: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navFlex li {
    list-style-type: none;

}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.navFlex li a {
    text-decoration: none;

}

.navFlex ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.foto_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



footer {
    grid-area: footer;
    background-image: url("../assets/img/header.jpg");
    background-size: cover;
}

@media only screen and (min-width:1200px) {}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .grilla {
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        display: grid;
        grid-template-rows: 0.2fr 0.25fr 1fr 0.25fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "main main main main"
            "footer footer footer footer";
        grid-column-gap: 0em;
        grid-row-gap: 0em;
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .grilla {
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        display: grid;
        grid-template-rows: 0.1fr 0.2fr 1fr 0.25fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "main main main main"
            "footer footer footer footer";
        grid-column-gap: 0em;
        grid-row-gap: 0em;
        overflow-y: hidden;
    }
}